*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    background-color: rgb(218, 245, 236);}
 .head h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    top: 40px;
    color: blueviolet;
    text-shadow: -5px -5px 10px #3a2455;
    
 }   
.container{
    width: 100%;
    height: 100vh;
    /* background-image: url(./image/Img.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #3a2455;
    padding: 20px;
    border-radius: 10px;

}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 255, 0.2);
    background: transparent;
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
    margin: 10px;
}
form .display{
   display: flex;
   justify-content: flex-end;
   margin: 20px 0;
}
form .display input{
    text-align: right;
    flex:1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.op{
    color:aqua;
}